extends layout

block content
  .main__inner
    header
      h1.header__title.header__title--portfolio Portfolio
      h2 Work and side projects
    .content__wrapper
      .main__text
        p #[a(class="portfolio__item--link" href="https://www.economist.com") The Economist]
        p I have been working at The Economist for the past 2 years with a number new technologies such as ReactJS, NodeJS, GraphQL, Relay, Redux, Jest, Mocha, Chai and Enzyme. During my time here I have worked in cross-functional and Agile teams to help bring The Economist’s new website live, and integrating and testing new features.
        p One of the main projects I have been a part of involved iterating on customer feedback and data analytics to improve the subscriber’s experiences when they visit  #[a(class="portfolio__item--link" href="https://www.economist.com") The Economist website]. This involved working very closely with UI and UX designers, data analysts and other developers further down in the stack.
        p I am currently working on another project which involves integrating The Economist articles into Google AMP using server side rendering with ReactJS, AMP templates and NodeJS for a very fast and seamless experience for our users.
