extends layout

block content
  main.main__inner
    header
      h1.header__title.header__title--portfolio Portfolio
    .content__wrapper
      .main__text
        p= h.dummyText
        p= h.dummyText
        p= h.dummyText
