.footer__wrapper {
  background-color: $purple;
  height: $nav-height;
  font-size: 12px;
  font-weight: 500;
  color: $white;
  padding: 0 2em;
  width: 100%;
	box-sizing: border-box;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 750px;
  height: 60px;
  align-items: center;
}

.footer__item--name {
  background-size: 4em;
  background-repeat: no-repeat;
  background-image: $logo-orange;
  background-position-x: -10px;
  background-position-y: -4px;
  padding-left: 2.5em;
  line-height: 2;
}

.footer__item-link {
  text-decoration: none;
  color: $white;
  padding: 0 1em;
  padding: 0 0.4em;
  font-size: 20px;
  & > * {
    transition: all 0.5s ease;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.footer__item-link:hover,
.footer__item-link:active {
  color: $green;
  & > * {
    -webkit-transform: scale(1.3) translateZ(0);
    transform: scale(1.3) translateZ(0);
  }
}

@media screen and (min-width: 590px) {
  .footer__wrapper {
    font-size: 14px;
  }
  .footer__item--name {
    background-position-y: -5px;
  }
}
