.footer__wrapper {
  background-color: $purple;
  height: 90px;
  font-size: 12px;
  font-weight: 500;
  color: $white;
  display: grid;
  align-items: center;
  padding: 0 2em;
}

.footer__inner {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  max-width: 600px;
  height: 90px;
  align-items: center;
}

.footer__item--name {
  background-size: 4em;
  background-repeat: no-repeat;
  background-image: $logo-orange;
  background-position-x: -5px;
  background-position-y: 0px;
  padding-left: 3.5em;
  height: $nav-height;
  padding-top: 0.5em;
}

.footer__title {
  line-height: 1.4;
}

.footer__content {
  display: grid;
  grid-template-rows: 0.4fr 1fr;
  justify-content: right;
  grid-gap: 1.5em;
}

.footer__item-link {
  text-decoration: none;
  color: $white;
  padding: 0 1em;
}

.footer__item--sitemap {
  padding-top: 0.5em;
}

.footer__item-link,
.footer__item--sitemap {
  & > * {
    transition: all 0.5s ease;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.footer__item-link:hover,
.footer__item--sitemap:hover {
  & > * {
    -webkit-transform: scale(1.3) translateZ(0);
    transform: scale(1.3) translateZ(0);
  }
}

.footer__item--sitemap .footer__item-link {
  display: inline-block;
}

.footer__item-link:hover {
  color: $green;
}

.footer__item-link-social {
  padding: 0 0.4em;
  font-size: 20px;
}

@media screen and (min-width: 590px) {
  .footer__wrapper,
  .footer__inner {
    height: auto;
  }
  .footer__wrapper {
    display: block;
  }
  .footer__inner {
    max-width: 750px;
    height: $nav-height;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  .footer__content {
    justify-items: right;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
  }
  .footer__title {
    & .footer__item--name {
      height: auto;
      padding-top: 0;
      padding-left: 2.5em;
      line-height: $nav-height;
      background-position-x: -15px;
      background-position-y: 15px;
    }
  }
}
