.header__title--home {
  color: $pink;
}

.image {
  text-align: center;
  margin: 0 auto;
  max-width: 300px;
}

.profile__image {
  width: 90%;
  border-radius: 5px;
  min-height: 200px;
  opacity: 0.2;
  transition: opacity 1s ease;
}

.profile__image--loaded {
  opacity: 1;
}

.content__item--list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.75em;
  background-color: rgba(254, 235, 220, 0.2);
  border-radius: 5px;
  padding: 1em 0.75em;
}

.content__item--list-item {
  text-align: center;
}

.content__item--list-label {
  margin-top: 0;
}

.content__item--list-image {
  width: 100%;
  padding: 0;
}

@media screen and (min-width: 590px) {
  .content__item--list {
    grid-template-columns: repeat(4, 1fr);
    max-width: 600px;
    margin: 0 auto;
  }
  .content__item--list-label {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  .content__item--list-image {
    max-width: 200px;
  }
  .content__item--list-image:hover .content__item--list-label {
    opacity: 1;
  }
}
