.image {
  text-align: center;
  margin: 1em 0;
}

.profile__image {
  width: 90%;
  border-radius: 5px;
  min-height: 200px;
  opacity: 0.2;
  transition: opacity 1s ease;
}

.profile__image--loaded {
  opacity: 1;
}
