html, body {
	margin: 0;
	height: 100%;
}

html {
  font-family: $default-font;
	box-sizing: border-box;
}

body {
	position: relative;
	display: grid;
	grid-template-rows: 1fr;
	grid-gap: 1em;
}

h2 {
	margin: 0.5em 0;
}

p {
	line-height: 1.4;
}

.main__wrapper {
	position: relative;
	margin-bottom: $nav-height;
}

.main__inner,
.flash-messages__wrapper {
  padding: 0 2em;
  position: relative;
  color: $white;
  max-width: 750px;
	margin: 0 auto;
	top: $nav-height;
}

header {
	margin-top: 1em;
}

.header__title {
	margin: 0;
}

.content__item--link,
.home__item--link,
.other__item--link,
.portfolio__item--link {
	text-decoration: none;
	color: $pink;
	font-weight: 500;
	transition: color 0.5s ease;
}

.content__item--link:hover,
.home__item--link:hover,
.other__item--link:hover,
.portfolio__item--link:hover {
	cursor: pointer;
	color: $green;
}
