html {
  font-family: 'Work Sans', sans-serif;
  height: 100vh;
}

body {
  margin: 0 auto;
  background-color: $light-grey;
  min-height: 100vh;
}

.logo {
  background-size: 5em;
  background-repeat: no-repeat;
  width: 7em;
  background-position-x: -25px;
  background-position-y: -8px;
  height: $logo-height;
  line-height: 45px;
  background-image: $logo-orange;
  text-align: right;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: $white;
}

.main__inner,
.flash-messages__wrapper {
  padding: 0 2em;
  top: $nav-height;
  position: relative;
  color: $dark-grey;
  overflow: hidden;
  max-width: 750px;
  margin: 0 auto;
}

.main__inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: $logo-original;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position-x: 140px;
  background-position-y: 500px;
  opacity: 0.75;
  z-index: -1;
}

.header__title {
  color: $dark-blue;
}

.nav__wrapper {
  background-color: $dark-blue;
  box-sizing: border-box;
  height: $nav-height;
  color: $white;
  padding: 0.5em 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: $shadow;
}

.nav__main-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__mobile-button {
  font-size: 30px;
  transition: color 0.5s ease;
  &:hover {
    cursor: pointer;
    color: $orange;
  }
}

.nav__mobile-button:active {
  color: $orange;
}

.nav__buttons-wrapper {
  right: -115%;
  top: $nav-height;
  position: absolute;
  transition: right 1s ease;
  background-color: $orange;
  width: 100%;
  box-shadow: $shadow;
  margin: 0;
}

.nav__buttons-inner {
  display: flex;
  justify-content: space-between;
  height: $nav-height;
  max-width: 500px;
  margin: 0 auto;
}

.nav__buttons-wrapper--show {
  right: 0;
}

.nav__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $white;
  flex-direction: column;
  width: 8em;
  justify-content: center;
}

.nav__link:active {
  background-color: $dark-blue;
}

.nav__link--active {
  background-color: $dark-blue;
  font-weight: 500;
}

.nav__link-title {
  margin-top: 3px;
}

.content__wrapper {
  min-height: 100vh;
}

@media screen and (min-width: 590px) {
  .nav__mobile-button {
    display: none;
  }

  .nav__wrapper {
    padding: 0;
  }
  
  .nav__inner {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    max-width: 800px;
    margin: 0 auto;
  }

  .nav__buttons-wrapper {
    position: relative;
    right: 0;
    top: 0;
    max-width: 400px;
    box-shadow: none;
    background-color: transparent;
  }

  .nav__main-items {
    padding: 8px 1em;
  }

  .nav__link--active {
    background-color: $orange;
  }

}

.nav__link {
  transition: all 0.5s ease;
  & > * {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
}
.nav__link:hover {
  background-color: $orange;
  & > * {
    -webkit-transform: scale(1.3) translateZ(0);
    transform: scale(1.3) translateZ(0);
  }
}
