html {
  font-family: 'Work Sans', sans-serif;
  height: 100vh;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: $dark-purple;
  min-height: 100vh;
}

.logo {
  background-size: 5em;
  background-repeat: no-repeat;
  width: 7em;
  background-position-x: -25px;
  background-position-y: -8px;
  height: $logo-height;
  line-height: 45px;
  background-image: $logo-orange;
  text-align: right;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: $purple;
}

.main__inner,
.flash-messages__wrapper {
  padding: 0 2em;
  top: $nav-height;
  position: relative;
  color: $white;
  overflow: hidden;
  max-width: 750px;
  margin: 0 auto;
}

.main__inner {
  padding-bottom: 1em;
  margin-bottom: $nav-height;
}
